
@import "common";

@mobileWidth : 320px;
@tabletWidth : 600px;
@deskWidth : 1000px;

@orange : #E5722F;
@sectionPadding : 20px;
@carImage : url("../img/car.png");

body {
  margin: 0;
}

header, footer {
  .clearfix();
  width: 100%;
}

header {
  background-color: @orange;
}

footer, #hero-wrapper {
  background-color: #000;
  color: #fff;
}

@media (min-width: 0) {
  #responsiveLayout.set(@mobileWidth);
}
@media (min-width: @tabletWidth) {
  #responsiveLayout.set(@tabletWidth);
}
@media (min-width: @deskWidth) {
  #responsiveLayout.set(@deskWidth);
}

#responsiveLayout {
  .set(@availableW) {
    #content, #header, #footer, #hero{
      width: @availableW;
    }
    #hero.set(@availableW, @tabletWidth);
    #coolSections.set(@availableW, @tabletWidth);
  }
}

#container{
  .clearfix();
  background: #e4e4e4;
  margin: 0;
}

#content, #header, #footer, #hero, #cool-sections, #featured-work {
  margin: 0 auto;
}
#header, #footer, #hero, #cool-sections, #featured-work {
  padding: @sectionPadding 0 @sectionPadding 0;
}

#hero-wrapper {
  .drop-shadow(0, 10px, 30px, 0, .5);
}

#header {
  #logo {
    float:left;
    h1 {
      display: inline;
    }
  }

  #nav {
    float:right;
    display: inline;
    ul {
      list-style-type: none;
      display: inline;
    }
    li {
      padding: 0 15px 0 15px;
      display: inline;
    }
    form {
      display: inline;
    }
  }
}

#hero {
  .set(@availableW, @tabletWidth) when (@availableW <= @tabletWidth) {
    #hero-wrapper {
      background-image: @carImage;
      background-size: cover;
    }
    #gt-racing-logo {
      img{
        width: @availableW / 3;
      }
    }
  }
  .set(@availableW, @tabletWidth) when (default()) {
    #hero-wrapper {
      background-image: @carImage;
      background-size: cover;
    }
    #gt-racing-logo {
      img{
        width: @availableW / 3;
      }
    }
  }
}

#coolSections {
  .set(@availableW, @tabletWidth) when (@availableW <= @tabletWidth) {
    #cool-sections {
      .clearfix();
      ul {
        list-style-type: none;
        padding:0;
        li {
          width: 100%;
          display: inline-block;
        }
        li {
          float: left;
        }
      }
    }
  }
  .set(@availableW, @tabletWidth) when (default()) {
    #cool-sections {
      .clearfix();
      ul {
        list-style-type: none;
        display: inline;
        padding:0;
        li {
          width: 45%;
          display: inline-block;
        }
        li:nth-child(odd) {
          float: left;
        }
        li:nth-child(even) {
          float: right;
        }
      }
    }
  }
}

#featured-work {
  h3 {
    display: inline;
  }
}

