body {
  margin: 0;
}
header,
footer {
  width: 100%;
}
header:before,
footer:before,
header:after,
footer:after {
  content: " ";
  display: table;
}
header:after,
footer:after {
  clear: both;
}
header {
  background-color: #e5722f;
}
footer,
#hero-wrapper {
  background-color: #000;
  color: #fff;
}
@media (min-width: 0) {
  #content,
  #header,
  #footer,
  #hero {
    width: 320px;
  }
  #hero-wrapper {
    background-image: url("../img/car.png");
    background-size: cover;
  }
  #gt-racing-logo img {
    width: 106.66666667px;
  }
  #cool-sections:before,
  #cool-sections:after {
    content: " ";
    display: table;
  }
  #cool-sections:after {
    clear: both;
  }
  #cool-sections ul {
    list-style-type: none;
    padding: 0;
  }
  #cool-sections ul li {
    width: 100%;
    display: inline-block;
  }
  #cool-sections ul li {
    float: left;
  }
}
@media (min-width: 600px) {
  #content,
  #header,
  #footer,
  #hero {
    width: 600px;
  }
  #hero-wrapper {
    background-image: url("../img/car.png");
    background-size: cover;
  }
  #gt-racing-logo img {
    width: 200px;
  }
  #cool-sections:before,
  #cool-sections:after {
    content: " ";
    display: table;
  }
  #cool-sections:after {
    clear: both;
  }
  #cool-sections ul {
    list-style-type: none;
    padding: 0;
  }
  #cool-sections ul li {
    width: 100%;
    display: inline-block;
  }
  #cool-sections ul li {
    float: left;
  }
}
@media (min-width: 1000px) {
  #content,
  #header,
  #footer,
  #hero {
    width: 1000px;
  }
  #hero-wrapper {
    background-image: url("../img/car.png");
    background-size: cover;
  }
  #gt-racing-logo img {
    width: 333.33333333px;
  }
  #cool-sections:before,
  #cool-sections:after {
    content: " ";
    display: table;
  }
  #cool-sections:after {
    clear: both;
  }
  #cool-sections ul {
    list-style-type: none;
    display: inline;
    padding: 0;
  }
  #cool-sections ul li {
    width: 45%;
    display: inline-block;
  }
  #cool-sections ul li:nth-child(odd) {
    float: left;
  }
  #cool-sections ul li:nth-child(even) {
    float: right;
  }
}
#container {
  background: #e4e4e4;
  margin: 0;
}
#container:before,
#container:after {
  content: " ";
  display: table;
}
#container:after {
  clear: both;
}
#content,
#header,
#footer,
#hero,
#cool-sections,
#featured-work {
  margin: 0 auto;
}
#header,
#footer,
#hero,
#cool-sections,
#featured-work {
  padding: 20px 0 20px 0;
}
#hero-wrapper {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
}
#header #logo {
  float: left;
}
#header #logo h1 {
  display: inline;
}
#header #nav {
  float: right;
  display: inline;
}
#header #nav ul {
  list-style-type: none;
  display: inline;
}
#header #nav li {
  padding: 0 15px 0 15px;
  display: inline;
}
#header #nav form {
  display: inline;
}
#featured-work h3 {
  display: inline;
}
