@font-face {
  font-family: "Book";
  src: url("../font/AvenirLTStd-Black_0.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Book";
  src: url("../font/AvenirLTStd-BlackOblique_0.otf");
  font-weight: bold;
  font-style: oblique;
}
@font-face {
  font-family: "Book";
  src: url("../font/AvenirLTStd-Book_0.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Book";
  src: url("../font/AvenirLTStd-BookOblique_0.otf");
  font-weight: normal;
  font-style: oblique;
}
@font-face {
  font-family: "Book";
  src: url("../font/AvenirLTStd-Light_0.otf");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Book";
  src: url("../font/AvenirLTStd-LightOblique_0.otf");
  font-weight: 100;
  font-style: oblique;
}
@font-face {
  font-family: "Roman";
  src: url("../font/AvenirLTStd-Roman.otf");
  font-style: normal;
}
@font-face {
  font-family: "Roman";
  src: url("../font/AvenirLTStd-Oblique.otf");
  font-style: oblique;
}
.book {
  font-family: Book, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.book-bold {
  font-family: Book, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
}
.book-oblique {
  font-family: Book, arial, sans-serif;
  font-style: oblique;
  font-weight: normal;
}
.book-bold-oblique {
  font-family: Book, arial, sans-serif;
  font-style: oblique;
  font-weight: bold;
}
.book-thin {
  font-family: Book, arial, sans-serif;
  font-style: normal;
  font-weight: 100;
}
.book-thin-oblique {
  font-family: Book, arial, sans-serif;
  font-style: oblique;
  font-weight: 100;
}
.roman {
  font-family: Roman, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.roman-oblique {
  font-family: Roman, arial, sans-serif;
  font-style: oblique;
  font-weight: normal;
}
body {
  margin: 0;
}
header,
footer {
  width: 100%;
}
header:before,
footer:before,
header:after,
footer:after {
  content: " ";
  display: table;
}
header:after,
footer:after {
  clear: both;
}
header {
  background-color: #e37239;
  position: fixed;
  top: 0;
  z-index: 1000;
}
footer,
#hero-wrapper {
  background-color: #000;
  color: #fff;
}
@media (min-width: 950px) {
  #content,
  #header,
  #footer,
  #hero {
    width: 950px;
  }
  #header {
    height: 50px;
    max-height: 50px;
  }
  #logo {
    float: left;
    padding: 10px 0 0 0;
  }
  #logo .text {
    padding-bottom: 8px;
  }
  #nav {
    float: right;
    padding: 10px 0 0 0;
  }
  #nav ul {
    list-style-type: none;
  }
  #nav li {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
  }
  #nav li a {
    text-decoration: none;
    color: inherit;
  }
  #nav li a:hover {
    color: #e4e4e4;
  }
  #nav #searchBox {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 4px;
    -webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    border: 1px inset #ccc;
    display: inline-block;
  }
  #nav #searchBox .results {
    width: 150px;
    margin-left: -5px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding: 10px 5px 5px 5px;
    margin-top: 0px;
    font-size: .8em;
    background-color: white;
  }
  #nav #searchBox .results .result {
    color: black;
    clear: both;
    cursor: pointer;
  }
  #nav #searchBox .results .result a:hover {
    color: #999999;
  }
  #nav #searchBox form {
    display: inline-block;
    width: 150px;
  }
  #nav #searchBox form input {
    display: inline;
    background: none;
    border: 0;
    text-align: left;
  }
  #nav #searchBox form input:focus {
    outline: 0;
    width: 80%;
  }
  #nav #searchBox form button {
    float: right;
    border: none;
    background: none;
  }
  #nav #searchBox form button img {
    margin-bottom: -2px;
  }
  .menu-icon {
    display: none !important;
  }
  #nav {
    display: block;
  }
  #nav ul {
    display: inline;
  }
  #nav li {
    padding: 0 15px 0 15px;
    display: inline;
  }
  #hero-wrapper {
    background-image: url("../img/car.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  #hero-left {
    width: 407.14285714px;
    display: inline-block;
  }
  #gt-racing-logo img {
    width: 316.66666667px;
  }
  .quote .statement {
    font-family: Roman, arial, sans-serif;
    font-style: oblique;
    font-weight: normal;
    color: #c96639;
    font-size: 1em;
    clear: both;
    float: left;
    display: block;
  }
  .quote .author {
    font-family: Roman, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8em;
    clear: both;
    float: left;
    display: block;
  }
  .case-study {
    clear: both;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px #cccccc solid;
    background-color: black;
    color: #cccccc;
    margin-top: 20px;
  }
  .case-study span {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding: 7px 3px 3px 3px;
  }
  #featured-app-icon {
    background-color: #c96639;
    width: 143px;
    height: 1.5em;
    -webkit-clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
    margin: 35px 0 15px 0;
  }
  #featured-app-icon div {
    font-family: Roman, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;
    padding: 5px;
  }
  #gt-racing-description {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
  }
  #cool-sections:before,
  #cool-sections:after {
    content: " ";
    display: table;
  }
  #cool-sections:after {
    clear: both;
  }
  #cool-sections ul {
    list-style-type: none;
    padding: 0;
  }
  #cool-sections ul li {
    display: inline;
  }
  #cool-sections ul li h2 {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #c96639;
  }
  #cool-sections ul li p {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #999;
  }
  #cool-sections ul {
    display: inline;
  }
  #cool-sections ul li {
    width: 45%;
  }
  #cool-sections ul li:nth-child(odd) {
    float: left;
  }
  #cool-sections ul li:nth-child(even) {
    float: right;
  }
}
@media (max-width: 950px) {
  #content,
  #header,
  #footer,
  #hero {
    width: 600px;
  }
  #header {
    height: 50px;
    max-height: 50px;
  }
  #logo {
    float: left;
    padding: 10px 0 0 0;
  }
  #logo .text {
    padding-bottom: 8px;
  }
  #nav {
    float: right;
    padding: 10px 0 0 0;
  }
  #nav ul {
    list-style-type: none;
  }
  #nav li {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
  }
  #nav li a {
    text-decoration: none;
    color: inherit;
  }
  #nav li a:hover {
    color: #e4e4e4;
  }
  #nav #searchBox {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 4px;
    -webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    border: 1px inset #ccc;
    display: inline-block;
  }
  #nav #searchBox .results {
    width: 150px;
    margin-left: -5px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding: 10px 5px 5px 5px;
    margin-top: 0px;
    font-size: .8em;
    background-color: white;
  }
  #nav #searchBox .results .result {
    color: black;
    clear: both;
    cursor: pointer;
  }
  #nav #searchBox .results .result a:hover {
    color: #999999;
  }
  #nav #searchBox form {
    display: inline-block;
    width: 150px;
  }
  #nav #searchBox form input {
    display: inline;
    background: none;
    border: 0;
    text-align: left;
  }
  #nav #searchBox form input:focus {
    outline: 0;
    width: 80%;
  }
  #nav #searchBox form button {
    float: right;
    border: none;
    background: none;
  }
  #nav #searchBox form button img {
    margin-bottom: -2px;
  }
  #header {
    width: 100%;
  }
  #logo {
    padding-left: 10px;
  }
  #menu-icon {
    float: right;
    display: inline;
    background-color: black;
    color: white;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
  }
  .open {
    background-image: url("../img/open.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    padding: 10px;
  }
  .close {
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    padding: 10px;
  }
  #nav {
    display: none;
    float: left;
    clear: both;
    background-color: black;
    width: 100%;
  }
  #nav ul {
    width: 95%;
    padding: 0;
    margin: 0 auto 10px auto;
  }
  #nav li {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid #4e2714;
  }
  #nav li a {
    padding: 10px 5px 10px 0;
    display: block;
  }
  #nav li form {
    width: 150px;
  }
  #nav li:last-child {
    border-top: 0;
  }
  #nav li:first-child {
    border-top: 0;
  }
  #hero-wrapper {
    background-image: url("../img/car.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  #hero-left {
    width: 257.14285714px;
    display: inline-block;
  }
  #gt-racing-logo img {
    width: 200px;
  }
  .quote .statement {
    font-family: Roman, arial, sans-serif;
    font-style: oblique;
    font-weight: normal;
    color: #c96639;
    font-size: 1em;
    clear: both;
    float: left;
    display: block;
  }
  .quote .author {
    font-family: Roman, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8em;
    clear: both;
    float: left;
    display: block;
  }
  .case-study {
    clear: both;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px #cccccc solid;
    background-color: black;
    color: #cccccc;
    margin-top: 20px;
  }
  .case-study span {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding: 7px 3px 3px 3px;
  }
  #featured-app-icon {
    background-color: #c96639;
    width: 143px;
    height: 1.5em;
    -webkit-clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
    margin: 35px 0 15px 0;
  }
  #featured-app-icon div {
    font-family: Roman, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;
    padding: 5px;
  }
  #gt-racing-description {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
  }
  #cool-sections:before,
  #cool-sections:after {
    content: " ";
    display: table;
  }
  #cool-sections:after {
    clear: both;
  }
  #cool-sections ul {
    list-style-type: none;
    padding: 0;
  }
  #cool-sections ul li {
    display: inline;
  }
  #cool-sections ul li h2 {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #c96639;
  }
  #cool-sections ul li p {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #999;
  }
  #cool-sections ul {
    display: inline;
  }
  #cool-sections ul li {
    width: 45%;
  }
  #cool-sections ul li:nth-child(odd) {
    float: left;
  }
  #cool-sections ul li:nth-child(even) {
    float: right;
  }
}
@media (max-width: 600px) {
  #content,
  #header,
  #footer,
  #hero {
    width: 320px;
  }
  #header {
    height: 50px;
    max-height: 50px;
  }
  #logo {
    float: left;
    padding: 10px 0 0 0;
  }
  #logo .text {
    padding-bottom: 8px;
  }
  #nav {
    float: right;
    padding: 10px 0 0 0;
  }
  #nav ul {
    list-style-type: none;
  }
  #nav li {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
  }
  #nav li a {
    text-decoration: none;
    color: inherit;
  }
  #nav li a:hover {
    color: #e4e4e4;
  }
  #nav #searchBox {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 4px;
    -webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    border: 1px inset #ccc;
    display: inline-block;
  }
  #nav #searchBox .results {
    width: 150px;
    margin-left: -5px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding: 10px 5px 5px 5px;
    margin-top: 0px;
    font-size: .8em;
    background-color: white;
  }
  #nav #searchBox .results .result {
    color: black;
    clear: both;
    cursor: pointer;
  }
  #nav #searchBox .results .result a:hover {
    color: #999999;
  }
  #nav #searchBox form {
    display: inline-block;
    width: 150px;
  }
  #nav #searchBox form input {
    display: inline;
    background: none;
    border: 0;
    text-align: left;
  }
  #nav #searchBox form input:focus {
    outline: 0;
    width: 80%;
  }
  #nav #searchBox form button {
    float: right;
    border: none;
    background: none;
  }
  #nav #searchBox form button img {
    margin-bottom: -2px;
  }
  #header {
    width: 100%;
  }
  #logo {
    padding-left: 10px;
  }
  #menu-icon {
    float: right;
    display: inline;
    background-color: black;
    color: white;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
  }
  .open {
    background-image: url("../img/open.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    padding: 10px;
  }
  .close {
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    padding: 10px;
  }
  #nav {
    display: none;
    float: left;
    clear: both;
    background-color: black;
    width: 100%;
  }
  #nav ul {
    width: 95%;
    padding: 0;
    margin: 0 auto 10px auto;
  }
  #nav li {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid #4e2714;
  }
  #nav li a {
    padding: 10px 5px 10px 0;
    display: block;
  }
  #nav li form {
    width: 150px;
  }
  #nav li:last-child {
    border-top: 0;
  }
  #nav li:first-child {
    border-top: 0;
  }
  #hero-wrapper {
    background-image: url("../img/car.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  #hero-left {
    width: 137.14285714px;
    display: inline-block;
  }
  #gt-racing-logo img {
    width: 106.66666667px;
  }
  .quote .statement {
    font-family: Roman, arial, sans-serif;
    font-style: oblique;
    font-weight: normal;
    color: #c96639;
    font-size: 1em;
    clear: both;
    float: left;
    display: block;
  }
  .quote .author {
    font-family: Roman, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8em;
    clear: both;
    float: left;
    display: block;
  }
  .case-study {
    clear: both;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px #cccccc solid;
    background-color: black;
    color: #cccccc;
    margin-top: 20px;
  }
  .case-study span {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding: 7px 3px 3px 3px;
  }
  #featured-app-icon,
  #gt-racing-description {
    display: none;
  }
  #cool-sections:before,
  #cool-sections:after {
    content: " ";
    display: table;
  }
  #cool-sections:after {
    clear: both;
  }
  #cool-sections ul {
    list-style-type: none;
    padding: 0;
  }
  #cool-sections ul li {
    display: inline;
  }
  #cool-sections ul li h2 {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #c96639;
  }
  #cool-sections ul li p {
    font-family: Book, arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #999;
  }
  #cool-sections ul li {
    width: 100%;
    float: left;
  }
}
#container {
  background: #e4e4e4;
  margin: 0;
}
#container:before,
#container:after {
  content: " ";
  display: table;
}
#container:after {
  clear: both;
}
#content,
#header,
#footer,
#hero,
#cool-sections,
#featured-work {
  margin: 0 auto;
}
#footer,
#hero,
#cool-sections,
#featured-work {
  padding: 20px 0 20px 0;
}
#hero-wrapper {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
}
#featured-work h3 {
  display: inline;
}
